.header {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.h-wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  .logo {
    margin-left: 10px;
    font-size: 2rem;
  }

  .callToActions {
    .nav-items {
      display: flex;
    }
    ul {
      list-style: none;
    }
    a {
      font-size: 1.7rem;
      line-height: 1;
      text-decoration: none;
      text-transform: uppercase;
      margin-right: 2rem;
    }
  }
}
